# clangd cache
.cache*

# Ignore IDE directories
.idea
.vscode
.vs
.DS_Store

# Ignore Claude Code config
.claude/

# Ignore R artifacts
.RData
.Rhistory
.Rproj.user
_book

# Ignore build artifacts
build/
bin/
Testing/
cmake-*
compile_commands.json

# Ignore test binaries
tests/runTests

# Ignore the backups of diagrams
documentation/diagrams/*.~vsdx

# Ignore default output and data files
out
monthly_data\.txt
reporter\.txt

# Ignore temporary Excel files
~$*.xlsx

# Ignore log files
*.log
/vcpkg/
coverage.profdata
default.profraw
coverage-html/
docs/Doxygen/
vcpkg_installed

monthly_data_*.db

test_*.asc
